{% extends 'base.html' %}

{% block title %} EMATER - Acesso Negado{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh; text-align: center;">
    <h1>403 🚫</h1>
    <p class="lead"><b>{{ message|default:"Você não tem permissão para acessar essa página." }}</b></p>
    <a href="{% url 'coordenador:Lista_Produtores' %}" class="btn btn-outline-danger mt-4" role="button">
        Voltar para a página principal
    </a>
</div>
{% endblock %}