{% extends 'base.html' %}
{% load static %}

{% block title %}LOGIN{% endblock %}
{% block content %}

<div class="login-container">
    <h2 class="form-title">Conta</h2>

    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    {% if form.errors %}
        <div class="alert alert-warning mt-3" role="alert">
            Usuário ou senha incorretos.
        </div>
    {% endif %}
</div>

{% endblock %}
