{% extends 'base.html' %}
{% load static %}

{% block title %}Detalhes do Terreno - EMATER{% endblock %}

{% block content %}
<div class="container my-3 px-2">

    {% if terreno %}
    <div class="card shadow-sm border-0">
        <div class="card-header bg-success text-white text-center">
            <h4 class="mb-0">👤 {{ terreno.produtor.user.first_name }}</h4>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    <label class="form-label fw-bold">📞 Terreno</label>
                    <div class="form-control bg-light">{{ terreno.nome }}</div>
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label fw-bold">📞 Cidade</label>
                    <div class="form-control bg-light">{{ terreno.cidade }}</div>
                </div>
                {% if talhoes %}
        <div class="mt-4">
    <h5 class="text-success">🌱 Lista de Talhões</h5>
    <ul class="list-group">
    {% for talhao in talhoes %}
    <li class="list-group-item"><a href="{% url 'coordenador:talhao_detalhe' talhao.id %}">{{ talhao.nome }}</a></li>
{% endfor %}
{% else %}
<div class="mt-4">
    <h5 class="text-success">🌱 Nenhum Talhão cadastrado.</h5>
</div>
    </ul>

        </div>
        {% endif %}
            <div class="mt-3 text-end">
        <a href="{% url 'coordenador:talhao_cria' terreno.id %}" class="btn btn-outline-success">➕ Cadastrar Talhão</a>
    </div>

<div class="d-flex justify-content-between flex-wrap mt-4 gap-2">
    <a href="{% url 'coordenador:terreno_atualiza' terreno.id %}" class="btn btn-success">
        ✏️ Atualizar Terreno
    </a>
    <a href="{% url 'coordenador:terreno_exclui' terreno.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este terreno?');">🗑️ Excluir Terreno</a>
    <a href="{% url 'coordenador:produtor_detalhe' terreno.produtor.id %}" class="btn btn-secondary">🔙 Voltar</a>
</div>
{% endif %}
    {% endblock %}